@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = "Hata";
}

<main aria-labelledby="title">
    <h1 class="text-danger" id="title">Hata.</h1>
    <h2 class="text-danger">İsteğiniz işlenirken bir hata oluştu.</h2>
</main>
